<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnyimMemcached" version="2.12" targetFramework="net40" />
  <package id="EnyimMemcached-log4net" version="2.12" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Memcached.ClientLibrary" version="1.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
</packages>