@model Me.WLF.Model.ChineseLastName

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-search" method="post">
    <fieldset>
        <legend>ChineseLastName</legend>
        @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
        @Html.EditorFor(model => model.LastName)
        <button type="submit" class="btn">Add</button>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
