@model List<ChatCore.TalkSession>

@{
    ViewBag.Title = "All Sessions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>User</th>
        <th>State</th>
        <th>Last Activity DT</th>
        <th>Last Message</th>
    </tr>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.From</td>
            <td>
                @t.State.ToString()
            </td>
            <td>@t.LastActivityDT</td>
            <td>@Newtonsoft.Json.JsonConvert.SerializeObject(t.LastMessage)</td>
        </tr>
    }
</table>
